# Build
bin/
obj/

# User
*.user
*.rsuser
*.suo

# Visual Studio
.vs/

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# Ambiente
.env

# Docker
docker-compose.override.yml

# Publicação
publish/

# OpenAPI
openapi.json